html{
background-image: url("darkness.png");
}
.prog {
vertical-align: top;
}
#tab {
border: none;
height: 100%;
width: 100%;
}
#navigasi {
width: 100%;
height: 400px;
text-align: center;
}
p {
vertical-align: top;
}

